.profile-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.profile-container h1 {
  text-align: center;
  margin-top: 40px;
}

.form-group {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.form-row label {
  width: 120px;
  padding-right: 8px;
  font-weight: bold;
}

.form-row span {
  padding-right: 8px;
}

.form-row input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #ddd;
}

.button-group {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 8px;
}

.save-btn {
  padding: 10px 15px;
  background: #bbb;
  border: none;
  border-radius: 8px;
}

.delete-btn {
  padding: 10px 15px;
  background: #F4C2C2;
  border: none;
  border-radius: 8px;
  margin-bottom: 50px;
}

.error-text {
  color: red;
  margin-top: 10px;
  text-align: center;
}